@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
}
#form{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 30%;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}
#form>h2{
    text-align: center;
}
#form>input{
    height: 30px;
    margin: 10px 0px;
    padding: 5px 10px;
    
}
#submit
{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}